# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Carpetas generadas automáticamente
bin/
obj/
build/
[Bb]uild/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache
*.dbmdl

# Archivos temporales
*.log
*.tmp
*.temp

# Configuración local y entorno de desarrollo
.vscode/
.vs/
*.env

# Archivos del sistema (Windows/macOS)
.DS_Store
Thumbs.db

# Archivos de NuGet
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
.nuget/

# Archivos de configuración de usuario de MAUI
*.app/
*.apk/
*.aab/
*.xcarchive
*.ipa

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Otros archivos que no deben ir al control de versiones
*.json
*.jfm
*.db
*.dbmdl